<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In and Sign Up Buttons</title>
    <link rel="stylesheet" href="../static/index.css">
    <script>
        function signIn() {
            // Переход на страницу login
            window.location.href = 'login.html';
        }
    </script>
    <script>
        function signUp() {
            // Переход на страницу register
            window.location.href = 'register.html';
        }
    </script>
</head>
<body>

    <h1>Google Drive</h1>
    <div class="button-container">
        <button class="sign-in" onclick="signIn()">Sign In</button>
        <button class="sign-up" onclick="signUp()">Sign up</button>
    </div>
</body>

</html>
